<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.mall.model.domain.Product">
        <id property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="productName" column="product_name" jdbcType="CHAR"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="productTitle" column="product_title" jdbcType="CHAR"/>
        <result property="productIntro" column="product_intro" jdbcType="VARCHAR"/>
        <result property="productPicture" column="product_picture" jdbcType="CHAR"/>
        <result property="productPrice" column="product_price" jdbcType="DOUBLE"/>
        <result property="productSellingPrice" column="product_selling_price" jdbcType="DOUBLE"/>
        <result property="productNum" column="product_num" jdbcType="INTEGER"/>
        <result property="productSales" column="product_sales" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_id,product_name,category_id,
        product_title,product_intro,product_picture,
        product_price,product_selling_price,product_num,
        product_sales,is_deleted
    </sql>

</mapper>
